* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', -apple-system;
    /* -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    color: white;
}
ul {   
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    /* background-image: url(./freq.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed; */
    background: url(./freq.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 100px;
    /* border-bottom: 1px solid #fff; */
}
header ul {
    display: flex;
}
header ul li {
    padding: 8px;
}
header ul li a:hover {
    text-decoration: underline;
}
.container {
    text-align: center;
}
.container .name h1 {
    font-size: 60px;
    margin-bottom: 30px;
}
.container .name h5 {
    font-size: 25px;
    font-style: italic;
    /* padding: 10px; */
    margin-top: -7px;
    margin-bottom: 20px;  
}
#arrow {
    font-size: 40px;
    cursor: pointer;
    padding: -10px;
    margin-top: 10px;
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}
.active {
    display: block !important;
}
#animation {
    transition: 300ms;
}
#about p {
    max-width: 600px;
    margin: 0 auto; /*mover elementos para o centro*/
    padding: 18px;
    font-size: 20px;
    
}
.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 4px;
    }
.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 0 0 0;
    outline: 0;
}
.form input:hover {
    color: black;
    
}
.form button {
    width: 18%;
    padding: 5px 10px;
    background-color: #a9a9a9;
    color: #000;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin: -5px
}
.form button:hover {
    background-color: #000;
    transition: 0.5s;
    color: #a9a9a9;
    
}

.player {
    margin: 0px;
    

}
.song-details {
    text-align: center;
    margin-bottom: 30px;
}

.song-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 50px;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.player-controls .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #a9a9a9;
    color: #101010;
    margin: 0 30px;

    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    /*box-shadow: 0px 6px 12px rgba(248, 252, 33, 0.6);*/
    transition: 0.4s;
}

.player-controls .skip-btn {
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: none;

    color: #CCC;
}

.player-controls .play:hover {
    box-shadow: 0px 2px 20px rgba(243, 243, 235, 0.6);
}

.player-controls .skip-btn:hover {
    box-shadow: 0px 2px 20px rgba(243, 243, 235, 0.6);
}

.next-up p {
    color: #888;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.next-up p span {
    font-weight: 400;
    font-style: italic;
}



@media only screen and (max-width: 770px){
    .form {
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .container .name h1 {
        font-size: 40px;
        margin-bottom: 7px;
    }
    .container .name h5 {
        font-size: 25px;
    }
    #about p {
        max-width: 80%;
    } 
}